In [1]:
import os
import plotly.express as px
import numpy as np
import pandas as pd
import plotly.graph_objects as go
import matplotlib.pyplot as plt
import seaborn as sns
import operator as op
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [2]:
data = pd.read_csv('Groceries_dataset.csv')
data.head()

   Member_number        Date   itemDescription
0           1808  21-07-2015    tropical fruit
1           2552  05-01-2015        whole milk
2           2300  19-09-2015         pip fruit
3           1187  12-12-2015  other vegetables
4           3037  01-02-2015        whole milk

There are three columns = Member_number , Date, Iterm Description

Member_number = Unique number
Date = Date of Transaction
Iterm Description = product brought on this date

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38765 entries, 0 to 38764
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Member_number    38765 non-null  int64
 1   Date             38765 non-null  object
 2   itemDescription  38765 non-null  object
dtypes: int64(1), object(2)
memory usage: 908.7+ KB

In [4]:
data.columns = ['memberID', 'Date', 'itemName']
data.head()

   memberID        Date          itemName
0      1808  21-07-2015    tropical fruit
1      2552  05-01-2015        whole milk
2      2300  19-09-2015         pip fruit
3      1187  12-12-2015  other vegetables
4      3037  01-02-2015        whole milk

In [6]:
data.isna().sum()

memberID    0
Date        0
itemName    0
dtype: int64

In [7]:
data.Date = pd.to_datetime(data.Date)
data.memberID = data['memberID'].astype('str')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38765 entries, 0 to 38764
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   memberID  38765 non-null  object
 1   Date      38765 non-null  datetime64[ns]
 2   itemName  38765 non-null  object
dtypes: datetime64[ns](1), object(2)
memory usage: 908.7+ KB

C:\Users\Dharma Manasa\AppData\Local\Temp\ipykernel_13628\407141481.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  data.Date = pd.to_datetime(data.Date)

now they are in correct datatype

Date as Date taken from pandas
MemberID as string